.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.tags {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    scroll-behavior: smooth;
}

.title {
    font-family: 华文楷体;
}

@media (max-width:576px) {
    .images {
        --bs-gutter-x: .5rem;
        --bs-gutter-y: .5rem;

        .card-body {
            font-size: smaller;
            padding: .5rem;

            .card-title {
                margin-bottom: 0;
                font-size: small;
            }

            .card-text {
                font-size: small;
            }
        }
    }
}